<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Deploy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
	<add key="UseAppDataPath" value="False"/>
    <add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=%1;"/>
    <add key="DatabaseName" value="Database\database.mdb" />
    <add key="Provider" value="System.Data.OleDb.OleDbConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <add key="VersionInfoProvider" value="Thayer.Birding.Versioning.BirdingVersionProvider, Thayer.Birding.Versioning, Version=1.0.0.0, Culture=neutral" />
  </appSettings>
  <userSettings>
    <Deploy.Properties.Settings>
      <setting name="InitialDirectory" serializeAs="String">
        <value />
      </setting>
    </Deploy.Properties.Settings>
  </userSettings>
</configuration>