<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="licenses" type="Thayer.Birding.Configuration.LicenseConfigurationSectionHandler, Thayer.Birding" />
    <section name="thayerData" type="Thayer.Birding.Configuration.EncryptedSettingsSectionHandler, Thayer.Birding" />
  </configSections>
  <appSettings>
	<add key="UseAppDataPath" value="False"/>
	<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=%1;"/>
	<add key="DatabaseName" value="Database\database.mdb" />
	<add key="CustomDatabaseName" value="Database\CustomDatabase.mdb" />
	<add key="Provider" value="System.Data.OleDb.OleDbConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<add key="UpdateLocation" value="http://updates.thayerbirding.com" />
	<add key="SpectrogramLocation" value="" />
  </appSettings>
  <licenses>
	  <license>3002-8000-4883-1189</license>
	  <license>6630-9109-5504-1988</license>
  </licenses>
  <thayerData>
    <EncryptedData>
      <CipherData>
        <CipherValue>D7rHDTr17ORPumj427MjNlOnfEEtFQAZYsNDkcKrG7qHXTQcSeCrVX/K3aEs27dNFQ1Nk3ZARycgGWLMAA3FowKGUPRYzp37DkRMJsM5xyARZrJp6sht7y0jWEYsLLdCcH+gy3M+Evf+7fLCy1LrlY5FlL6mXT7RfqoJJlu7dnGKsHXl/Ug+Vu0KwrXWChqEUwB50EUEQfUN1nF8MB66UWNOfIXk+hn/ttD4s8wQhLQ=</CipherValue>
      </CipherData>
    </EncryptedData>
  </thayerData>
</configuration>
